
/* From Uiverse.io by htwarriors108 */
.card {
    position: relative;
    width: 400px;
    height: 460px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    background: none;
    margin-bottom: 50px;
    /*padding: 20px;*/
}

.card:hover {
    transform: translateY(-20px);
}

.card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: linear-gradient(45deg, #ffbc00, #ff0058);*/
    background: linear-gradient(135deg, #E1CA94 0%, #8FBC8F 100%);
    border-radius: 1.2em;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(45deg, #ffbc00, #ff0058);*/
    background: linear-gradient(135deg, #E1CA94 0%, #8FBC8F 100%);
    filter: blur(30px);
}

.card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 1em;
}

.card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.card .content {
    position: relative;
    padding: 5px;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5em;
}

.image-container {
    position: relative;
    display: inline-block;
    background: none;
    padding: 5px;
}

